.git
.git/*
.idea
.idea/*
.DS_Store
.DS_Store/*
__pycache__
__pycache__/*
*/target/**
*.jar
*.sqlite3
node_modules
node_modules/*
env
env/*
credentials.json
credentials.*
*/credentials.json
credentials.json
credentials-docker.json
*.json
